* {
    border: solid purple;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

body{
    margin: 0;
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
}

/* HEADER */

header {
    width: 70%;
    color: #ffffff;
    align-self: center;
    display: flex;
    justify-content: space-between;
}

.header-logo {
    font-weight: bold;
    font-size: 24px;
    color: #f9faf8;
    display: flex;
    align-items: center;
}

.header-links > ul  {
    list-style: none;
    padding: 0;
    font-size: 18px;
    color: #d9dbde;
    display: flex;
    gap: 10px;
}

/* MAIN SECTION */

.main-box {
    width: 70%;
    color: #ffffff;
    align-self: center;
}

.main-box-hero {
    margin: 3em 0 3em;
    display: flex;
    justify-content: space-between;
    flex: auto;
}

.hero-left {
    width: 50%;
}

.hero-title {
    font-weight: bolder;
    font-size: 48px;
    color: #f9faf8;
}

.hero-description {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-button {
}

.hero-right {
    width: 50%;
    background-color: #6e747d;
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* INFO SECTION */

.section-info {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
}

.info-box {
    width: 70%;
}

.info-box-title {
    margin-top: 0.5em;
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    text-align: center;
}

.info-box-cards {
    margin: 2em 0 2em;
    display: flex;
    justify-content: center;
}

.info-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-illustration {
    height: 130px;
    border: solid 3px #3882f6;
    border-radius: 5px;
}

.card-description {
    text-align: center;
}

/* QUOTE SECTION */

.section-quote {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
}

.quote-box {
    width: 70%;
    margin: 1.5em;
}

.quote-text {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1f2937;
    margin-right: 10px;
    margin-bottom: 0;
}

.quote-author {
    font-size: 26px;
    font-weight: 700;
    margin-top: 5px;
    margin-right: 40px;
    text-align: end;
}

/* CONTACT SECTION */

.section-contact {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
}

.contact-container {
    width: 70%;
    background-color: #3882f6;
    color: #ffffff;
}

.contact-box {
    padding: 2em;
    display: flex;
    justify-content: center;
}

.contact-box-right {
    display: flex;
    align-content: center;
}

.contact-button {
    border: solid #fff;
    flex-grow: 0;
}

/* FOOTER */

footer {
    width: 70%;
    align-self: center;
    text-align: center;
    color: #ffffff;
}

.button {
    width: 120px;
    height: 40px;
    border-radius: 12px;
    background-color: #3882f6;
    color: #ffffff;
}